<div class="fudz-container" data-ng-controller="FudzController">
  {{ move }}
  <div data-ng-click="moveleft()">Left</div>
  <div data-ng-click="moveright()">Right</div>
  <div data-ng-click="moveup()">Up</div>
  <div data-ng-click="movedown()">Down</div>

  <div class="game">
    <div class="penguin">
        <img class="toggle" src="./img/penguin.png">
    </div>

    <div class="quadrant left">
        <img class="choice" src="./img/fish.png">
        <div class"choice-text"></div>
    </div>
    <div class="quadrant top">
        <img class="choice" src="./img/fish.png">
        <div class"choice-text"></div>
    </div>
    <div class="quadrant right">
        <img class="choice" src="./img/fish.png">
        <div class"choice-text"></div>
    </div>
    <div class="quadrant bottom">
        <img class="choice" src="./img/fish.png">
        <div class"choice-text"></div>
    </div>
</div>

  </div>
</div>