<div class="home" data-ng-controller="">
  <form class="form-horizontal" role="form">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="Username" data-ng-model="login.email">
    </div>
    <div>
      <label for="password">Username</label>
      <input id="password" type="text" placeholder="Password" data-ng-model="login.password">
    </div>
    <div>
      <button type="submit" ng-click="logIn(login.email, login.password)">Log In</button>
    </div>
  </form>
</div>