// Blog

.blog-container {
  padding-top: 40px;

  @media (max-width: 1079px) {
    padding: 40px;
  }

  .blog-content {
    @include col(8/12, 1/12);
    @include shift(-2/12);

    @media (max-width: 1079px) {
      @include col(10/12);
      @include shift(-2/12);
    }

    @media (max-width: 979px) {
      @include col(1);
      @include unshift();
    }

    a, a:active, a:hover, a:visited {
      text-decoration: none;
    }

    min-height: 300px;

    .blog {
      position: relative;
      @include box-shadow(0px, 0px, 4px, #cccccc, false);
      height: 150px;
      width: 100%;
      @include font-size(10);
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      cursor: pointer;
      margin-bottom: 20px;

      @media (max-width: 639px) {
        height: 115px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }

      .content {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 10px;
        padding-left: 160px;
        color: #999999;

        @media (max-width: 639px) {
          padding-left: 125px;
        }

        .title {
          @include font-size(10);
          font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
          font-weight: 300;
          margin-bottom: 10px;
        }

        .subtitle {
          @include font-size(7);
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
          font-weight: 300;
        }

        .type-date {
          position: absolute;
          bottom: 10px;
          right: 10px;
          @include font-size(6);
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
          font-weight: 300;

          @media (max-width: 639px) {
            display: none;
          }
        }
      }

      &:hover {
        @include box-shadow(0px, 0px, 7px, #bbbbbb, false);
      }
    }
  }

  .blog-navigation {
    @include col(2/12);
    @include shift(9/12);

    @media (max-width: 1079px) {
      @include shift(10/12);
    }
    @media (max-width: 979px) {
      @include col(10/12, 1/12);
      @include unshift();
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      @include col(1);
    }

    .category {
      @include box-shadow(0px, 0px, 2px, #cccccc, false);
      width: 100%;
      padding: 10px 0px;
      @include font-size(7);
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      color: #aaaaaa;
      text-align: center;
      margin-bottom: 20px;
      cursor: pointer;
      -webkit-transition: background 0.2s;
      -moz-transition: background 0.2s;
      -o-transition: background 0.2s;
      transition: background 0.2s;

      @media (max-width: 979px) {
        @include col(1/2, 0, 2);
        text-align: center;
      }

      &.active {
        background: #eeeeee;
        @include box-shadow(0px, 0px, 2px, #cccccc, false);
      }

      &:hover {
        background: #eeeeee;
        @include box-shadow(0px, 0px, 4px, #bbbbbb, false);
      }
    }
  }

  .hide-type {
    display: none;
  }
}
