.fudz-container {
  height: 100%;

  .start {
    text-align: center;
    padding-top: 80px;

    .inputs {
      text-align: center;
      margin-bottom: 30px;

      input.address {
        display: block;
        padding: 10px 10px;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
        max-width: 400px;
        border: 1px solid #777777;
        outline: none;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        @include font-size(10);
        color: #777777;
        font-weight: 300;
      }
    }

    .button {
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 50px;
      padding: 10px 20px;
      border: 1px solid #777777;
      text-align: center;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      @include font-size(10);
      color: #777777;
      font-weight: 300;
      cursor: pointer;

      -webkit-transition: background-color 0.2s, color 0.2s;
      -moz-transition: background-color 0.2s, color 0.2s;
      -o-transition: background-color 0.2s, color 0.2s;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: #777777;
        color: #ffffff;
      }
    }

    .share {
      .help {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 300;
        @include font-size(10);
        color: #777777;
        margin-bottom: 15px;
      }

      .link {
        display: block;
        padding: 10px 10px;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        @include font-size(10);
        color: #777777;
        font-weight: 300;
      }
    }
  }

  .legend {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: 1px solid #aaaaaa;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.4);

    .each {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      @include line-height(14);
      @include font-size(8);
      color: #777777;
    }
  }

  .controller {
    position: fixed;
    height: 150px;
    width: 150px;
    bottom: 10px;
    right: 10px;
    border: 1px solid #aaaaaa;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.4);

    .dir.up {
      position: absolute;
      top: 4px;
      left: 60px;
      cursor: pointer;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      @include font-size(8);
      color: #777777;
    }
    .dir.down {
      position: absolute;
      bottom: 4px;
      left: 55px;
      cursor: pointer;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      @include font-size(8);
      color: #777777;
    }
    .dir.left {
      position: absolute;
      left: 4px;
      top: 65px;
      cursor: pointer;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      @include font-size(8);
      color: #777777;
    }
    .dir.right {
      position: absolute;
      right: 4px;
      top: 65px;
      cursor: pointer;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      @include font-size(8);
      color: #777777;
    }
  }

  .game-wrapper {
    padding-top: 60px;

    .game {
      width: 400px;
      height: 400px;
      margin: 0 auto;
      border: 1px dashed #aaaaaa;
      text-align: center;
      position: relative;

      .penguin {
        display: inline-block;
        @include vertical-align();

        .toggle {
          height: 100px;
        }
      }

      .fish.left {
        position: absolute;
        top: 182px;
        left: -100px;

        img {
          height: 40px;
        }

        .title {
          margin-top: -30px;
          margin-left: -15px;
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
          font-weight: 300;
          @include font-size(8);
          color: #ffffff;
        }
      }

      .fish.right {
        position: absolute;
        top: 182px;
        right: -100px;

        img {
          height: 40px;
        }

        .title {
          margin-top: -30px;
          margin-left: -15px;
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
          font-weight: 300;
          @include font-size(8);
          color: #ffffff;
        }
      }

      .fish.top {
        position: absolute;
        top: -46px;
        left: 160px;

        img {
          height: 40px;
        }

        .title {
          margin-top: -30px;
          margin-left: -15px;
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
          font-weight: 300;
          @include font-size(8);
          color: #ffffff;
        }
      }

      .fish.bottom {
        position: absolute;
        bottom: -46px;
        left: 160px;

        img {
          height: 40px;
        }

        .title {
          margin-top: -30px;
          margin-left: -15px;
          font-family: 'Roboto', Helvetica, Arial, sans-serif;
          font-weight: 300;
          @include font-size(8);
          color: #ffffff;
        }
      }
    }
  }

  .hidden {
    opacity: 0;
  }
}