.snippet {
  @include col(10/12, 1/12);
  margin-top: 30px;
  padding-bottom: 80px;

  @media (max-width: 979px) {
    @include col(1);
    margin-top: 0px;
  }

  .header {
    @include col(10/12, 1/12);

    @media (max-width: 767px) {
      @include col(1);
    }

    .title {
      @include font-size(20);
      font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
      color: #666666;
    }

    .subtitle {
      @include font-size(14);
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      margin-bottom: 40px;
      color: #999999;
    }

    .disclaimer {
      @include font-size(8);
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 300;
      @include line-height(12);
      color: #888888;
      font-style: italic;
      margin-bottom: 60px;
      padding: 10px;
      background: #eeeeee;
      @include border-radius(3px);
    }
  }

  .body {
    @include col(10/12, 1/12);
    @include box-shadow(0px, 0px, 4px, #dddddd, false);
    @include border-radius(2px);
    @include cf();

    @media (max-width: 767px) {
      @include col(1);
      @include border-radius(0px);
      @include box-shadow(0px, 0px, 0px, transparent, false);
    }
    
    .lesson {
      @include col(18/20, 1/20);
      margin-top: 40px;

      @media (max-width: 767px) {
        @include col(1);
        margin-top: 20px;
      }

      p, .part {
        @include font-size(10);
        @include line-height(14);
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: #777777;

        strong {
          font-weight: 500;
        }
      }

      .part {
        margin-bottom: 50px;
      }

      .explanation {
        width: 100%;
        margin: 30px auto;
        padding: 20px;
        border: 1px dashed #dddddd;
        @include cf();

        @media (max-width: 767px) {
          padding: 8px;
        }
        
        img {
          @include col(1);
        }
      }

      .language {
        @include font-size(10);
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: #777777;
        margin-left: 40px;
        margin-bottom: 10px;
      }

      .example.va {
        border: 1px dashed #dddddd;
        margin-bottom: 50px;
        padding: 20px;

        @media (max-width: 767px) {
          padding: 8px;
        }

        .parent {
          position: relative;
          height: 300px;
          background: #cfd8db;
          border: 1px solid #8fa4ad;
        }

        .child {
          @include vertical-align;
          font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
          font-weight: 300;
          padding: 20px;
          color: #607d8b;
        }
      }

      .bottom {
        margin-bottom: 50px;
      }
    }
  }
}